/* ADMIN LOGIN */
body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 40px;
}
.form-container {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.btn {
    padding: 12px 24px;
    background-color: #4CAF50;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
h3 {
    padding-top: 40px;
}

